.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: transparent;
    padding-bottom: 0px;
    height: 101px;
    margin-left: -92px;
}


ul {
    list-style: none;
    display: flex;
    gap: 20px;
    align-items: center;
    padding: 28px;
    padding-left: 100px;
}


.link {
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-family: "Titillium Web", sans-serif;
    word-spacing: 1px;
    padding: 8px 12px;
    box-sizing: border-box;
}


.link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 6px;
    height: 2px;
    width: 0%;
    background: red;
    transition: width 0.3s ease;
    display: block;
}

.link:hover {
    color: red;
    cursor: pointer;
}


.link:hover::after {
    width: 100%;
}


.btn {
    padding: 10px 20px;
    background-color: red;
    color: white;
    border: none;
    font-family: "Titillium Web", sans-serif;
    font-size: 16px;
    text-decoration: none;
    display: inline-block;
    transition: all 0.3s ease;
}


.btn:hover {
    background-color: darkred;
    border-radius: 50px;
    cursor: pointer;
}


.logo {
    width: 100px;
    height: auto;
}