.section{
    position: absolute;
    top: 50%;
    left: 60px;
    transform: translateY(-50%);
    color: white;
    font-size: 70px;
    text-align: left;
    font-family: "Titillium Web", sans-serif;
    font-weight: 900;
    z-index: 1;
}


.line{
    line-height: 1.2;
}


.outline{
    -webkit-text-stroke: 1px white;
    -webkit-text-fill-color: transparent;
}


.p1{
    font-size: 15px;
    font-weight: normal;
    padding-bottom: 10px;
}


.stripes{
    color: red;
    font-size: 50px;
    margin: 0;
    padding: 0;
}


.hero {
  position: relative;
  height: 100vh;
  padding-top: 80px;
  
}


.planeTrack {
  position: absolute;
  margin-top: 12px;
  width: 100vw;
  margin-left: calc(50% - 50vw);
  overflow: hidden;
  height: 30px;
}


.plane {
  position: absolute;
  left: 0;
  top: 0;
  width: 30px;
  height: 30px;
}


.header {
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
  background-color: #f1f1f1;
}

.progress-container {
  width: 100%;
  height: 8px;
  background: #ccc;
}

.progress-bar {
  height: 8px;
  background: #04AA6D;
  width: 0%;
}

.p1 {
  font-size: 15px;
  font-weight: normal;
  padding-bottom: 10px;
  color: white;

  background: linear-gradient(to right, red 50%, white 50%);
  background-size: 200% 100%;
  background-position: right bottom;

  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  transition: background-position 0.5s ease;
}

.p1:hover {
  background-position: left bottom;
  cursor: pointer;
}
